## 전복 나이 예측
- id : 샘플 아이디
- Gender : 전복 성별
- Lenght : 전복 길이
- Diameter : 전복 둘레
- Height : 전복 키 
- Whole : Weight : 전복 전체 무게
- Shucked Weight : 껍질을 제외한 무게
- Viscra Weight : 내장 무게
- Shell Weight : 껍질 무게
- Target : 전복 나이

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sys

import warnings
warnings.filterwarnings('ignore')

In [2]:
test_df = pd.read_csv('./data/test.csv')
train_df = pd.read_csv('./data/train.csv')
sample_submission_df = pd.read_csv('./data/sample_submission.csv')

In [6]:
test_df

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight
0,1,F,0.595,0.470,0.155,1.1210,0.4515,0.1780,0.1550
1,2,M,0.580,0.450,0.150,0.9270,0.2760,0.1815,0.3600
2,3,I,0.260,0.205,0.070,0.0970,0.0415,0.0190,0.0305
3,4,M,0.590,0.460,0.130,1.1020,0.4550,0.2055,0.3300
4,5,F,0.595,0.465,0.140,1.1130,0.5175,0.2440,0.3050
...,...,...,...,...,...,...,...,...,...
2919,2920,I,0.170,0.105,0.035,0.0340,0.0120,0.0085,0.0050
2920,2921,I,0.435,0.345,0.115,0.4180,0.2220,0.0735,0.1060
2921,2922,I,0.570,0.450,0.135,0.7940,0.3815,0.1415,0.2450
2922,2923,I,0.460,0.350,0.120,0.4885,0.1930,0.1050,0.1550
2923,2924,F,0.565,0.440,0.160,0.9150,0.3540,0.1935,0.3200

In [7]:
train_df

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight,Target
0,1,M,0.605,0.470,0.115,1.1140,0.3925,0.2910,0.3100,15
1,2,I,0.430,0.315,0.095,0.3780,0.1750,0.0800,0.1045,8
2,3,I,0.580,0.490,0.195,1.3165,0.5305,0.2540,0.4100,18
3,4,M,0.535,0.405,0.175,1.2705,0.5480,0.3265,0.3370,13
4,5,I,0.310,0.235,0.090,0.1270,0.0480,0.0310,0.0400,6
...,...,...,...,...,...,...,...,...,...,...
1248,1249,I,0.190,0.145,0.040,0.0380,0.0165,0.0065,0.0150,4
1249,1250,I,0.395,0.310,0.085,0.3170,0.1530,0.0505,0.0935,7
1250,1251,F,0.525,0.410,0.115,0.7745,0.4160,0.1630,0.1800,7
1251,1252,F,0.445,0.335,0.110,0.4355,0.2025,0.1095,0.1195,6
1252,1253,F,0.750,0.550,0.195,1.8325,0.8300,0.3660,0.4400,11

In [8]:
sample_submission_df.head()

   id  Target
0   1       0
1   2       0
2   3       0
3   4       0
4   5       0